@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');

@font-face {
    font-family: Einstellung;
    src: url(./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Einstellung;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/banner-1.jpeg);
    background-size: 100%;
    cursor: default;
    scroll-behavior: smooth;
    transition: all 0.3s;
    animation: animatedBackground 1.2s linear infinite;
}

:root {
    --linear-bg-color: linear-gradient(134deg, rgba(255, 255, 255, 0.50) 0%, rgba(235, 235, 235, 0.37) 20.07%, rgba(224, 224, 224, 0.29) 28.14%, rgba(212, 212, 212, 0.21) 39.91%, rgba(207, 207, 207, 0.18) 48.10%, rgba(202, 202, 202, 0.14) 53.59%, rgba(200, 200, 200, 0.13) 58.73%, rgba(196, 196, 196, 0.10) 66.80%);  
}
  

/* background */
.main-container {
    z-index: 1;
}

.header-content {
    max-width: 1200px;
}

.introduce {
    width: 57%;
}

.navbar {
    background-color: #ffffff00;
    z-index: 1000;
    transition: all 0.4s ease;
}

.navbar-hide {
    transition: all 0.4s ease;
    opacity: 0;
    z-index: 800;
}

.navbar-items {
    max-width: 1200px;
}

.navigation-block {
    display: flex;
}

#navigation {
    margin-right: 60px;
    margin-top: 0;
    transition: all 0.3s ease-in-out 0.2s;
}

#navigation.active {
    margin-top: -500px;
}

.logo img, .lightmode .logo img {
    transition: all 0.3s ease;
}

.navigation a {
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
.navigation a:hover {
    transform: scale(1.2);
    color: #f5b32f;
}

.navigation a:nth-child(1), .navigation a:nth-child(2), .navigation a:nth-child(3) {
    padding: 0 15px;
}
.navigation a:nth-child(4) {
    padding: 0 0 0 15px;
}

.toggle {
    width: 30px;
    height: 30px;
}

.toggle-icon {
    transition: all 0.3s;
    background-color: #ffffff00 !important;
}

.toggle-line {
    height: 3px;
    transition: all 0.3s ease-in-out;
    background: #ffffff;
}
#toggle-line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #ffffff;
    right: 0;
    display: flex;
    justify-content: flex-end;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
#toggle-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    right: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.toggle-icon:hover .toggle-line {
    width: 100%;
}
.active#toggle-line {
    width: 0;
}
.active#toggle-line::before {
    width: 100%;
    transform: rotate(45deg);
}
.active#toggle-line::after {
    width: 100%;
    transform: rotate(-45deg);
}

.typing-effect h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #ffffff;
    border-right: 0 solid #ffffff;
    width: 100%;
    white-space: nowrap;
    animation: typing 2s steps(18),
    cursor .4s step-end infinite alternate;
}

.typing-effect h1:last-child {
    text-transform: uppercase;
}

.typing-effect h1 span, .job-title h3 span {
    color: #f5b32f;
}

.header-info {
    max-width: 1200px;
}

.follow-box h3, .social-box h3 {
    text-align: left;
    color: #f5b32f;
    font-size: 20px;
    font-weight: 700;
}

.social-link, .my-skills {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.social-link a, .my-skills a {
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link a:nth-child(2), .social-link a:nth-child(3),
.my-skills a:nth-child(2), .my-skills a:nth-child(3), .my-skills a:nth-child(4), .my-skills a:nth-child(5) {
    cursor: pointer;
    margin-left: 20px;
}

.fa-linkedin, .fa-github, .fa-square-behance,
.fa-figma, .fa-html5, .fa-css3-alt, .fa-square-js, .fa-react {
    color: #ffffff;
    transition: all 0.35s;
    transform: scale(1);
    border-radius: 50px;
    border: 0px solid #ffffff;
    width: 35px;
    height: 35px;
}

.social-link a:hover .fa-github, .social-link a:hover .fa-linkedin, .social-link a:hover .fa-square-behance,
.my-skills a:hover .fa-figma, .my-skills a:hover .fa-html5, .my-skills a:hover .fa-css3-alt, .my-skills a:hover .fa-square-js,
.my-skills a:hover .fa-react {
    transform: scale(1.2);
}

.cursor {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(205, 194, 218);
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all .1s;
    mix-blend-mode: difference;
    z-index: 1000;
    opacity: 0;
}

/* .cursor2 {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(205, 194, 218);
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 1000;
} */

.navigation a ~ .cursor {
    opacity: 1;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {    
        transform: scale(1.1);
    }
}

@keyframes ring {
    0%,
    100% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(-0.3rem);
    }
    50% {
        transform: translateY(0.3rem);
    }
}

@keyframes wave {
    50%   {
        height: 5px;
    }
    100% {
        height: 24px;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes animatedBackground {
    from {
      background-size: cover;
      background-position: 50% 22%;
    }
    to {
      background-size: cover;
      background-position: 100% 22%;
    }
  }


/* main content */
.port-container, .resume-container, .contact-container {
    background: #1e1e1e;
    transition: all 0.3s ease-in-out 0s;
}

.port-title h3, .resume-title h3, .contact-title h3 {
    color: #F5B32F;
    font-weight: 700;
}

.port-title h3::after, .resume-title h3::after, .contact-title h3::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: #F5B32F;
    border-radius: 5px;
    margin-top: 38px;
    z-index: 500;
    transition: all 0.8s;
}

.port-title h3::after {
    margin-left: -130px;
}

.port-title h3:hover:after {
    width: 130px;
}

.resume-title h3::after {
    margin-left: -120px;
}

.resume-title h3:hover:after {
    width: 120px;
}

.contact-title h3::after {
    margin-left: -128px;
}

.contact-title h3:hover:after {
    width: 128px;
}

.port-carousel {
    max-width: 1260px;
    margin-top: 45px;
    transition: all 0.3s ease-in-out 0s;
}

.port-carousel::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 100;
    border-radius: 0 0 70% 70%;
    background: #1e1e1e;
    margin-top: -50px;
    transition: all 0.3s ease-in-out 0s;
}

.port-carousel::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 100;
    border-radius: 70% 70% 0 0;
    background: #1e1e1e;
    margin-top: -52px;
    transition: all 0.3s ease-in-out 0s;
}

.slider__item {
    float: center;
    display: flex !important;
    justify-content: center;
}

.slider__item--img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 255px !important;
    height: 350px;
}

.slider__item--img img {
    width: 100% !important;
    height: auto;
    transition: all 0.6s;
    transform: scale(1);
}

.slider__item--img:hover img {
    transform: scale(1.2);
}

[type=button], [type=reset], [type=submit], button {
    background-color: #1e1e1e !important;
}

.slick-arrow {
    position: absolute;
    z-index: 700 !important;
    background: #1e1e1e;
    width: 30px;
    height: 350px;
    content: "&nbsp;";
    color: #ffffff00;
    transition: all 0.3s ease-in-out;
}

.slick-prev {
    margin-top: 0;
}

.slick-next {
    margin-top: -350px;
    right: 0;
}

.slider__item--img:hover img {
    opacity: 0.4;
}

.slider__item--img:hover .item-overlay {
    width: 600px;
    height: 600px;
    left: -100px;
    top: -135px;
}

.slider__item--img:hover .project-name {
    top: 65px;
}

.slider__item--img:hover .project-description {
    left: 25px;
    opacity: 1;
}

.slider__item--img:hover button {
    left: 25px;
}

.slider__item--img:hover .project-details-btn {
    top: 170px;
}

.item-overlay {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    left: -300px;
    top: -300px;
    transition: all 1s;
}

.project-name {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #212042;
    transition: all 1s;
    top: -65px;
    left: 25px;
}

.project-description {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    margin: 6px 0;
    transition: all 1s;
    z-index: 100;
    top: 85px;
    left: -500px;
    opacity: 0;
}

.lightmode .project-description {
    color: #474747;
}

.slider__item--img button {
    position: absolute;
    transition: all 1s;
    top: 135px;
    left: 500px;
    background: #ffffff !important;
}

.project-details-btn {
    position: absolute;
    color: #212042;
    font-weight: 600;
    font-size: 15px;
    transition: all 1s;
    top: 500px;
    left: 25px;
}

.project-details-btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #212042;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    transition: all 1s;
}

.project-details-btn:hover::after {
    width: 82px;
}

.resume-content {
    max-width: 1200px;
}

.resume-content h3 {
    color: #9A9A9A;
}

.resume-content h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background: #F5B32F;
    border-radius: 5px;
    margin-top: 23px;
    margin-left: 6px;
    transition: all 0.6s;
}

.summary-content {
    border-radius: 20px;
    background: rgb(126 126 126 / 25%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    transition: all 0.5s;
    animation: float 5s infinite;
}

.summary-content__bio {
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.appear {
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

.eduAppear {
    opacity: 1 !important;
    transform: scaleX(1) !important;
}

.work1Appear, .work2Appear, .work3Appear, .work4Appear, .work5Appear {
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

.wid1Appear, .wid2Appear, .wid3Appear {
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

.divier {
    width: 2px;
    height: 170px;
    background: #F5B32F;
}

.summary-content__bio--info, .summary-content__bio--intro {
    width: 480px !important;
}

.summary-content__bio--divier {
    padding: 0 60px;
}

.education-content-divier {
    position: absolute;
    height: 1200px;
    width: 2px;
    background: #ffffff;
    margin-left: 50%;
    top: 80px;
}

.education-content__box--logo {
    width: 150px;
    height: 150px;
    z-index: 50;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.education-content__box--logo img {
    transform: scale(1);
    transition: all 0.6s;
}

.education-content__details--name {
    color: #F5B32F;
}

.education-content__details--major span {
    color: #9A9A9A;
}

.education-content__box--time, .education-content__box--details {
    width: 475px;
}

.education-content__box--details {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s;
}

.education-box {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: all 0.6s;
}

.job-company {
    color: #F5B32F;
}

.job-description {
    color: #9A9A9A;
}

.education-content__box:not(:first-child) {
    margin-top: 150px;
}

.wid-content__item {
    width: 33.33%;
}

.item-logo {
    background: none;
    border: 3px solid #F5B32F;
    width: 100px;
    height: 100px;
    transition: all 0.6s;
}

.item-logo svg {
    transition: all 0.6s;
}

.item-logo:hover {
    background: #F5B32F;
}

.item-logo:hover svg {
    fill: #ffffff;
}

.wid-content__item--title {
    color: #F5B32F;
    text-align: center;
}

.wid-content__item--description {
    width: 345px;
    opacity: 0;
    transform: translateX(20px);
}

.wid-des-1 {
    transition: all 0.3s;
}

.wid-des-2 {
    transition: all 0.9s;
}

.wid-des-3 {
    transition: all 1.2s;
}

.overlay-description {
    margin-top: 230px;
    margin-left: 30px;
}

.hobbies-content__list--item {
    color: #9A9A9A;
}

.lightmode .item-name.active-hobbies {
    color: #000 !important;
}

.item-name.active-hobbies {
    color: #fff;
}

/* #football {
    color: #ffffff;
} */

.hobbies-content__gallery {
    width: 750px;
    height: 480px;
    border-radius: 20px;
    cursor: pointer;
}

.hobbies-content__gallery img {
    transition: all 0.8s;
    transform: scale(1);
}

.hobbies-content__gallery:hover img {
    transform: scale(1.1);
}

.hobbies-content__gallery--overlay {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.hobbies-divier {
    width: 250px;
    height: 4px;
    background: #ffffff;
}

.overlay-description, .item-name {
    transition: all 0.8s;
}

/* .hobbies-content__list--item:first-child .item-name {
    color: #F5B32F;
} */

.item-name {
    color: #9a9a9a;
}

.contact-content__item {
    background: #4f4f4f;
    height: 120px;
    border-radius: 20px;
    padding: 25px;
}

.contact-content__box:first-child .contact-content__item {
    margin: 0 15px 15px 0;
}

.contact-content__box:nth-child(2) .contact-content__item {
    margin: 0 0 15px 15px;
}

.contact-content__box:nth-child(3) .contact-content__item {
    margin: 15px 15px 15px 0;
}

.contact-content__box:last-child .contact-content__item {
    margin: 15px 0 15px 15px;
}

.contact-content {
    max-width: 1200px;
}

.contact-content__item--icon {
    width: 70px;
    height: 70px;
    background: #9A9A9A;
    transition: all 0.6s;
}

.contact-content__item--icon:hover {
    background: #F5B32F;
}

.contact-details-title {
    color: #F5B32F;
}

.contact-details-description a svg {
    transition: all 0.6s;
    width: 32px;
    height: 32px;
}

.contact-details-description a:nth-child(1):hover svg {
    color: #3C5A99;
}

.contact-details-description a:nth-child(2):hover svg {
    color: #dc2743;
}

.contact-details-description a:nth-child(3):hover svg {
    color: #00AFF0;
}

.contact-details-description a:nth-child(4):hover svg {
    color: #0274B3;
}

.message-box {
    max-width: 1200px;
    background: #4F4F4F;
    border-radius: 20px;
    margin-top: 15px;
}

.message-box input, .message-box textarea {
    background: #d6d6d6;
}

.send-btn button {
    background: #F5B32F !important;
    width: 170px;
    height: 50px;
    transition: all 0.6s;
    color: #1e1e1e;
    transition: all 0.5s linear;
}

.send-btn button::before {
    content: "";
    width: 170px;
    height: 50px;
    position: absolute;
    background: rgba(167, 167, 167, 0.2);
    border-radius: 8px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.6s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.send-btn button:hover {
    background: #1e1e1e00 !important;
    color: #F5B32F;
}

.send-btn button:hover::before {
    transform: scaleX(1);
}

.pattern-1 {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(50, 49, 49, 0.6);
    position: absolute;
    top: 350px;
    right: -160px;
}

.pattern-2 {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(50, 49, 49, 0.6);
    position: absolute;
    top: 2540px;
    left: -213px;
}

.pattern-3 {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(50, 49, 49, 0.6);
    position: absolute;
    top: 3400px;
    right: -240px;
}

.pattern-4 {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(50, 49, 49, 0.6);
    position: absolute;
    top: 4527px;
    left: -155px;
}

/* .pattern-6 {
    content: "";
    width: 800px;
    height: 500px;
    border-radius: 250px;
    background: #e9e39693;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: absolute;
    transform: rotate(30deg);
    top: 1500px;
    left: -380px;
} */



.assistive-touch {
    z-index: 800;
    bottom: 60px;
    right: 50px;
    width: 100px;
    height: auto;
    background: var(--linear-bg-color);
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(12px);
}

.assistive-touch-item {
    width: 80px;
    margin: 10px 0;
}

.play-toggle {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.6s;
}

.play-toggle:hover {
    background: rgb(255, 255, 255, 0.3);
}

.wave-line {
    width: 3px;
    height: 20px;
    background: #f5b32f;
    position: absolute;
    bottom: 8px;
    left: 18px;
    border-radius: 5px;
    animation: wave 1.2s linear infinite;
}

.wave-line:nth-child(1) {
    animation-delay: 0s;
}

.wave-line:nth-child(2) {
    margin-left: 6px;
    animation-delay: 0.3s;
}

.wave-line:nth-child(3) {
    margin-left: 12px;
    animation-delay: 0.6s;
}

.wave-line:nth-child(4) {
    margin-left: 18px;
    animation-delay: 0.9s;
}

.wave-line:nth-child(5) {
    margin-left: 24px;
    animation-delay: 0.6s;
}

.wave-line:nth-child(6) {
    margin-left: 30px;
    animation-delay: 0.3s;
}

.wave-line:nth-child(7) {
    margin-left: 36px;
    animation-delay: 0s;
}

.wave-line:nth-child(8) {
    margin-left: 42px;
    animation-delay: 0.3s;
}

.toggle__status-mode {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(270deg, #3A1D87 0%, #7D3B9D 47.88%, #B663AB 100%, #AB609B 100%);
    margin-top: 10px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle__status-mode-container--description {
    width: 40%;
    margin-left: 40px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffffff;
    transition: all 0.4s ease;
}

.toggle__status-mode-container {
    background: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    top: 4px;
    left: 4px;
    transition: all 0.4s ease;
}

.toggle__status-mode-container--icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #7D3B9D;
}

.toggle__status-mode-container--icon i {
    font-size: 24px;
}

.toggle__status-mode-container--icon svg {
    transition: all 0.3s ease;
}

.toggle__status-mode-container--icon svg:last-child {
    display: none;
}

.background-gif {
    width: 550px;
    height: auto;
    top: 140px;
    right: 75px;
    display: none;
    transition: all 0.3s;
}

.background-gif img {
    transition: all 0.3s;
}

.resume-wave-header, .resume-wave-footer {
    display: none;
}

/* lightmode */

.lightmode {
    background: #FBFBFB !important;
    transition: all 0.3s;
}

.lightmode .background-gif {
    opacity: 1;
    transition: all 0.3s;
    z-index: 100;
    display: block;
}

.lightmode .background-gif img {
    transition: all 0.3s;
}

.lightmode .cursor {
    background-color: rgba(19, 10, 58, 0.3);
    mix-blend-mode: normal !important;
}

.lightmode .play-toggle:hover {
    background: rgba(40, 49, 82, 0.8);
}

.lightmode .port-title h3::after, .lightmode .resume-title h3::after, .lightmode .contact-title h3::after {
    background: #283152;
}

.lightmode .header-content, .lightmode .typing-effect h1 {
    color: #283152;
}

.lightmode .social-link svg, .lightmode .my-skills svg {
    color: #283152;
}

.lightmode .introduce {
    width: 53%;
}

.lightmode .toggle__status-mode-container--icon svg:first-child {
    display: none;
}
.lightmode .toggle__status-mode-container--icon svg:last-child {
    display: inline;
}

.light-text {
    display: none !important;
}

.lightmode .light-text {
    display: block !important;
}

.lightmode .dark-text {
    display: none !important;
}

.lightmode .item-name {
    color: #f5b32f;
}

.lightmode .toggle__status-mode-container {
    transform: translateX(40px);
}

.lightmode .toggle__status-mode-container--description {
    margin-left: 10px;
}

.lightmode .resume-wave-header, .lightmode .resume-wave-footer {
    display: block;
}

.lightmode .port-container, .lightmode .contact-container,
.lightmode .port-carousel::before, .lightmode .port-carousel::after,
.lightmode [type=button], [type=reset], [type=submit], .lightmode button {
    background: #FBFBFB !important;
}

.lightmode .port-container {
    margin-top: 50px !important;
}

.lightmode .resume-container {
    background: #f3eed9;
    margin-top: -132px;
    padding-top: 0;
    padding-bottom: 30px;
}

.lightmode .contact-container {
    padding-top: 0;
    margin-top: -150px;
}

.lightmode .navbar-hide {
    background: #f3eed9 !important;
}

.lightmode .toggle-icon {
    background-color: #ffffff00 !important;
}

.lightmode .logo img {
    content: url("../assets/images/new-logo-V-darkblue.png");
}

.lightmode .toggle-line, .lightmode #toggle-line::before, .lightmode #toggle-line::after {
    background: #283152 !important;
}

.lightmode .navigation a {
    color: #283152;
}

.lightmode .navigation a:hover {
    transform: scale(1.2);
    color: #F5B32F;
}

.lightmode .navigation a:hover ~ .cursor {
    opacity: 1;
}

.lightmode .footer {
    background: #f3eed9 !important;
}

.lightmode .footer p {
    color: #283152;
}

.lightmode .resume-content h3 {
    color: #283152;
}

.lightmode .summary-content {
    background: rgba(247 247 247 / 60%);
    backdrop-filter: blur(10px);
}

.lightmode .message-box {
    background: linear-gradient(114deg, rgba(40,49,82,1) 0%, rgba(55,78,113,1) 46%, rgba(93,116,143,1) 100%);
}

.lightmode .contact-content__item {
    background: linear-gradient(114deg, rgba(40,49,82,1) 0%, rgba(55,78,113,1) 46%, rgba(93,116,143,1) 100%);
}

.lightmode .message-box input, .lightmode .message-box textarea {
    background: #f1f1f1;
}

.lightmode .pattern-1, .lightmode .pattern-2, .lightmode .pattern-3, 
.lightmode .pattern-4, .lightmode .pattern-5 {
    display: none;
}

.lightmode .send-btn button {
    background: #f5b32f !important;
}

.lightmode .send-btn button:hover {
    background: rgba(29, 29, 29, 2) !important;
}

.lightmode .port-title h3, .lightmode .resume-title h3, .lightmode .contact-title h3, 
.lightmode .education-content__details--major, .lightmode .education-content__box--time p, 
.lightmode .job-position, .lightmode .summary-content__bio {
    color: #283152 !important;
}

.lightmode .message-box label {
    color: #ffffff;
}

.lightmode .contact-details-description p {
    color: #ffffff;
}

.lightmode .contact-content__item--icon {
    background: #ffffff;
}

.lightmode .contact-content__box:last-child .contact-content__item--icon svg {
    fill: #F5B32F;
}

.lightmode .contact-content__box:first-child .contact-content__item--icon path,
.lightmode .contact-content__box:nth-child(2) .contact-content__item--icon path,
.lightmode .contact-content__box:nth-child(3) .contact-content__item--icon path {
    fill: #F5B32F !important;
}

.lightmode .education-content-divier {
    background: rgb(223 223 223 / 38%);
}

.lightmode .education-content__box--logo {
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.lightmode .education-content__box--logo img {
    background: rgba(255, 255, 255, 0.8);
}

.lightmode .contact-details-description a, .lightmode .contact-details-description svg {
    color: #ffffff;
}

.lightmode .job-description {
    color: #414141;
}

.lightmode .hobbies-content__list--item:nth-child(1) .item-icon svg,
.lightmode .hobbies-content__list--item:nth-child(2) .item-icon svg,
.lightmode .hobbies-content__list--item:nth-child(5) .item-icon svg {
    fill: #141414;
} 

.lightmode .hobbies-content__list--item:nth-child(3) path {
    fill: #141414;
}

.lightmode .hobbies-content__list--item:nth-child(4) path {
    stroke: #141414;
}

.lightmode .wid-content__item--description {
    color: #414141;
}

.lightmode .slider__item--img:hover img {
    opacity: 0.7;
}

.lightmode .toggle__status-mode {
    background: linear-gradient(270deg, #F18672 1.56%, #F79E4A 52.08%, #FEBD02 100%);
    box-shadow: inset 0 8px 60px rgba(155, 155, 155, 0.1),
                inset 0 8px 8px rgba(150, 150, 150, 0.1),
                inset 0 -4px 4px rgba(156, 156, 156, 0.1);
}

.lightmode .toggle__status-mode-container--icon {
    color: #F79E4A;
}

.lightmode .toggle__status-mode-container--description {
    content: "Light <br> mode";
}

.lightmode .blog-content-box p, .lightmode .post-date {
    color: #414141;
}

.background-blog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.back-to-homepage {
    position: relative;
    transition: all 0.2s ease-in-out;
    background: #ffffff00;
    color: #F5B32F;
    border: 2px solid #F5B32F;
}

.back-to-homepage::before {
    content: "Let's go";
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(113deg, #F5B32F 25.52%, #F87AAF 100%);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 1s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.back-to-homepage:hover::before {
    transform: scaleX(1);
}

.back-to-homepage:hover {
    color: #00000000;
}